body {
  font-family: Arial, sans-serif;
  background-color: rgb(246, 241, 165);
  margin: 0;
}

.form-container {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
}

h2, h3 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #bc9292;
  border-radius: 4px;
}

input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5ad85a;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #c407e1;
}

.table-container {
  width: 90%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #e60000;
  color: white;
}

